@model List<CoffeeShopWebsite.Models.Product>

@{
    ViewBag.Title = "Danh sách sản phẩm";
}

<h2>Sản phẩm cà phê</h2>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="card p-2 mb-3 border">
                <img src="@item.ImageUrl" class="img-fluid" />
                <h4>@item.ProductName</h4>
                <p>Giá: @item.Price.ToString("N0") VNĐ</p>
                <a href="@Url.Action("Details", "Product", new { id = item.ProductId })" class="btn btn-primary">Xem</a>
                <a href="@Url.Action("AddToCart", "Order", new { id = item.ProductId })" class="btn btn-success">Thêm vào giỏ</a>
            </div>
        </div>
    }
</div>

